html {
  &.is-lock {
    overflow: hidden;
  }
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-gray-60);
  background-color: var(--color-black-08);
}

#root{
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}
