:root {
  --container-padding-x: 165px;
  --container-padding-y: 70px;


  --color-green-1: #E1EDE6;
  --color-green-2: #D4E8D9;
  --color-green-3: #598D66;
  --color-green-4: #376B44;

  --color-yellow-1: #FAEB97;
  --color-yellow-2: #EEDB6D;
  --color-yellow-3: #D9B949;


  --color-gray: #86928B;
  --color-light: #F4F6F5;
  --color-dark: #2C2D35;

  --transition-duration: 0.2s;

  --border-radius: 20px;

  --font-family-base: 'Raleway', 'sans-serif';
}