.header {
  display: flex;
  padding-inline: var(--container-padding-x);
  justify-content: space-between;
  column-gap: 495px;

  width: 100%;
  height: 100px;
  background-color: var(--color-green-1);
}

.nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    column-gap: 60px;
    justify-content: center;
    align-items: center;
  }

  &__item {

  }

  &__link-title {
    text-decoration: none;
    color: var(--color-dark);

    &:hover {
      text-decoration: underline;
    }
  }

}