.header {
  display: flex;
  padding-block: 24px;
  padding-inline: 165px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  text-wrap: nowrap;

  background-color: var(--color-green-1);

  &-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
  }

  &__overlay-menu-dialog {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 130px;
    row-gap: 16px;
    width: 100%;
    height: 100%;
    padding: var(--container-padding-x);
    background-color: var(--color-green-1);
    border: none;
    transition-behavior: allow-discrete;


    &[open] .nav__list {
      display: flex;
      flex-direction: column;
      row-gap: 50px;
      width: 100%;
    }
  }
}

.logo-container {
  display: flex;
  width: 100%;
}


.nav {
  display: flex;
  align-items: center;
  justify-content: center;

  &__list {
    display: flex;
    column-gap: 60px;
    justify-content: center;
    align-items: center;
  }

  &__link-title {
    text-decoration: none;
    color: var(--color-dark);

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1023px) {
  .header {
    padding-inline: 60px;
  }

}

@media (max-width: 767px) {
  .header {
    padding-inline: 30px;
  }

  .nav__list {
    column-gap: 30px;
  }

  .cart {
    margin-left: 30px;
  }

}

@media (max-width: 690px) {
  .header {
    padding-inline: 39px;
  }

  .nav__list {
    column-gap: 20px;
  }
}

@media (max-width: 576px) {
  .header {
    flex-direction: column;
    height: 123px;

    &-logo {
      width: 100%;
    }
  }

  .nav {
    margin-top: 10px;
  }

  .nav__list {
    column-gap: 60px;
    text-wrap: nowrap;
  }

  .logo {
    position: relative; /* опорный контекст */
    display: inline-flex; /* или flex, как у тебя */
    align-items: center;
    column-gap: 8px;
    color: var(--color-green-3);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px; /* сдвиг вниз от логотипа */
      width: 100%;
      height: 1px; /* толщина линии */
      background: var(--color-gray); /* или var(--color-green-3) */
    }
  }
}

@media (max-width: 450px) {
  .header {
    height: 130px;
    padding: 0;
    background-color: var(--color-light);

    .logo {
      &::after {
        display: none;
      }
    }
  }

  .logo-container {
    padding: 20px;
    height: 50%;
    margin: 0;
  }

  .nav {
    width: 100%;
    justify-content: space-between;
    background-color: var(--color-green-1);
    height: 50%;
    margin: 0;
    padding: 20px;
  }
}

@media (min-width: 450px) {

  .header {
    &__overlay-menu-dialog {
      display: contents;
    }
  }
}