@use '@/app/styles/helpers' as *;

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  padding-inline: fluid-to-laptop(165, 33);
}

.heroImage {
  width: 100%;
  height: 100%;
  max-width: fluid(540, 195);
}

.heroContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.heroText {
  font-weight: 500;
  font-size: fluid(60, 30);
}

.heroTitle {
  color: var(--color-green-3);
}

.heroTextInner {
  color: var(--color-gray);
  font-size: 18px;
  margin-top: fluid(20, 10);
}

.heroButton {
  width: fluid(210, 154) !important;
  height: fluid(60, 50) !important;
  border: 1px solid var(--color-green-3) !important;
  border-radius: 0;
  margin-top: fluid(60, 10) !important;
  color: var(--color-green-3) !important;
  font-size: 20px !important;
  font-weight: medium !important;
  text-transform: none !important;
  font-family: 'Raleway', sans-serif !important;

  &:hover {
    background-color: var(--color-green-3) !important;
    color: var(--color-light) !important;
  }
}

@media (max-width: 610px) {
  .hero {
    margin-top: 20px;
  }

  .heroImage {
    display: none;
  }

  .heroContent {
    margin-block: 60px;
  }

  .heroButton {
    margin-block: 40px !important;
  }
}